*~
*.cfg
*.iml
target/
tmp-test-fixtures-deploy/
graalvm/
.settings/
./.project
.factorypath
.classpath
.idea/
.project
/bin/
/Coco.jar
component/sl-component.jar
language/dependency-reduced-pom.xml
native/slnative
/.vscode/

.gemini/
gha-creds-*.json
/.cache/
/.m2/
node_modules/
__pycache__/

# Maven Release Plugin
release.properties
pom.xml.releaseBackup
pom.xml.tag
pom.xml.next
pom.xml.backup
